body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }


/* 基本的图像样式 */
.img-account-profile rounded-circle mb-2 {
width: 50px; /* 设置图像的默认宽度 */
height: 50px; /* 设置图像的默认高度 */
border-radius: 50%; /* 圆形边框 */
}

/* 使用媒体查询来在特定宽度下更改图像大小 */
@media (max-width: 768px) {
.img-account-profile rounded-circle mb-2 {
    width: 50px; /* 在屏幕宽度小于等于 768px 时，设置更小的宽度 */
    height: 50px; /* 在屏幕宽度小于等于 768px 时，设置更小的高度 */
}
}


    /* 选择包含需要样式的元素 */
    .card.mb-4 {
        /* 设置背景颜色为 var(--grey) */
        background-color: var(--light);
    }

    .card.mb-4 .card-body {
        /* 设置文字颜色为 var(--dark) */
        color: var(--dark);
    }

.peson_info_title {
    font-size: 36px;
    font-weight: 600;
    margin: 25px;
    color: var(--dark);
}


.peson_info_p{
    font-weight: 600;
    margin: 25px;
    color: var(--dark);
}
hr {
    color: var(--dark);
}