<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
    <link rel="stylesheet" href="static\test.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static\style.css">
    <link rel="stylesheet" href="static\button_search.css">
</head>

<body>
    <!-- HTML -->


    <!-- 頁籤按鈕 -->
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo" id="tab1">
            <i class='bx bx-code-alt' id="tab1"></i>
            <div class="logo-name" id="tab1"><span id="tab1">108</span>GPT</div>
        </a>

        <ul class="side-menu">
            <li><a href="/"><i class='bx bxs-dashboard'></i>首頁</a></li>
            <li><a href="/"><i class='bx bx-analyse'></i>行事曆​</a></li>
            <li><a href="/"><i class='bx bx-message-square-dots'></i>詢問我們​</a></li>
            <li><a href="/"><i class='bx bx-group'></i>個人列表</a></li>
            <li><a href="/"><i class='bx bx-cog'></i>設定</a></li>
        </ul>



        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="static\profile-1.jpg">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>更多活動​</h1>

                </div>
            </div>

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>篩選條件:​</h3>
                    </div>

                    <form class="form-container" style="display: flex;">
                        <select class="form-select" aria-label="Default select example" style="margin: 10px;
                                                                                               background-color: var(--light);
                                                                                               color: var(--dark);">
                            <option selected>學類類別​</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
        
                        <select class="form-select" aria-label="Default select example" style="margin: 10px;
                                                                                               background-color: var(--light);
                                                                                               color: var(--dark);">
                            <option selected>活動類型​</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        <select class="form-select" aria-label="Default select example" style="margin: 10px;
                                                                                               background-color: var(--light);
                                                                                               color: var(--dark);">
                            <option selected>活動地點​</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        
                        <button type="submit" class="cssbuttons-io-button" style="min-width: 10%;
                                                                            max-height: 100%;
                                                                            margin: 10px;"> search
                            <div class="icon">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                            </div>
                          </button>
                    </form>
                    <div class="header">
                        <i class='bx bx-note'></i>
                        <h3>推薦活動:​</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 70%;">Title</th>
                                <th style="width: 30%;">Order Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 70%;">
                                    <p>title 1</p>
                                </td>
                                <td style="width: 30%;">14-08-2023</td>
                            </tr>
                            <tr>
                                <td style="width: 70%;">
                                    <p>title 2</p>
                                </td>
                                <td style="width: 30%;">14-08-2023</td>
                            </tr>
                            <tr>
                                <td style="width: 70%;">
                                    <p>title 3</p>
                                </td>
                                <td style="width: 0%;">14-08-2023</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div></div>

            
        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="static\index.js"></script>
    <p id="theme_set1">{{theme}}</p>
</body>

</html>